# linux temp files
*~

# git stuff
.git
.gitignore

# virtual environment
env

# logs
logs/*

# django settings file
boxing/settings.py

# ignore database
boxing.sqlite3

# ignore all static files
# except our default item image
boxing/api/static/media/*
!boxing/api/static/media/default.png
