# virtualenv directory
env/*

# linux temporary files
*.*~
*~

# python compiled files
*.pyc

# database files
*.sqlite3

# the development and production needs are different
# settings file
boxing/settings.py

# user generated and other static files
boxing/api/static/

# do not ignore migrations

# logs
logs/*

# docker-compose file
docker-compose.yml