# virtualenv directory

env/*

# linux temporary files

*.*~
*~

# python compiled files
*.pyc

# database files
*.sqlite3

# the development and production needs are different
# settings file
boxing/settings.py

# do not ignore migrations

# user generated static files
# boxing/api/static/**/*
boxing/api/static/admin/
boxing/api/static/index.html
boxing/api/static/media/*.*
!boxing/api/static/media/default.png
boxing/api/static/rest_framework/

!boxing/api/static/.gitkeep

# logs
logs/*
