django==1.9.1
djangorestframework==3.3.2
django-cors-headers==1.1.0
gunicorn==19.4.5
djangorestframework-jwt==1.7.2
django-filter==0.12.0
Pillow==3.1.0
django-rest-swagger==0.3.4
django-post_office==2.0.7
